# This repository is cloned as explained in README.md
# and should not be commited
website-evidence-collector
output
node_modules
config/*.json

# HUGO site
site/themes/
site/.hugo_build.lock
site/public/
site/resources/
